// Base styles
@import '../utils/variables.scss';

:root {
  font-family: var(--font-family-primary, 'Noto Sans KR', system-ui, Avenir, Helvetica, Arial, sans-serif);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-light;
  background-color: $background-dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: $primary-color;
  text-decoration: inherit;

  &:hover {
    color: $primary-hover;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $text-dark;
    background-color: $background-light;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
